@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: black;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-houver: #272727;
    --cor-border: green;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__nav{
    display: flex;
    gap: 80px;
}
.cabecalho__nav__links{
   color: var(--cor-terciaria);
   font-size: 1.5rem;
   font-family: var(--font-secundaria);
   font-weight: 600;
   text-decoration: none;
}
.cabecalho__nav__links:hover{
    color: var(--cor-border)
}

body{
    /*height: 100vh;*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.titulo__destaque{
    color: var(--cor-terciaria);
}

.apresentacao{
    display: flex;
    align-items: center;
    padding: 5% 15%;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;   
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__paragrafo{
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__titulo{
    color: var(--cor-secundaria);
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 21.5px 0;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__imagem{
    width: 50%;
}

.apresentacao__links__link:hover{
    background-color: var(--cor-houver);
    border: 3px solid var(--cor-border);
    cursor: pointer;
}

.rodape {
    text-align: center;
    background-color: var(--cor-terciaria);
    padding: 1% 0;
    color: black;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 1.5rem;
}

@media (max-width: 1200px) {
    
    .cabecalho{
        padding: 8%;
    }
    
    .cabecalho__nav{
        justify-content: center;
    }
    
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}
